<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.science.mapper.AdminMapper">

    <!--新增学生-->
    <insert id="InsertStudent" useGeneratedKeys="true" keyProperty="studentId">
        insert into t_students(
            student_id, user_id, student_name, school, grade, classes, credit
        )
        VALUES (
                #{studentId},#{userId},#{studentName},#{school},#{grade},#{classes},#{credit}
               )
    </insert>

    <!--根据学生姓名删除学生信息-->
    <delete id="DeleteStudentByName" parameterType="java.lang.String">
        delete from t_students
        where student_name = #{name}
    </delete>
    
    <!--修改学生信息-->
    <update id="ModifyStudent">
        update t_students
        <set>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="school != null">school = #{school},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="classes != null">classes = #{classes},</if>
            <if test="credit != null">credit = #{credit},</if>
        </set>
        <where>
            student_name = #{studentName}
        </where>
    </update>
    
    <!--新增老师-->
    <insert id="InsertTeacher" useGeneratedKeys="true" keyProperty="teacherId">
        insert into t_teachers(
            teacher_id, user_id, teacher_name, school, phone
        )VALUES (
                 #{teacherId},#{userId},#{teacherName},#{school},#{phone}
        )
    </insert>

    <!--根据老师姓名删除老师-->
    <delete id="DeleteTeacherByName" parameterType="java.lang.String">
        delete from t_teachers
        where teacher_name = #{name}
    </delete>
    
    <!--修改老师信息-->
    <update id="ModifyTeacher">
        <set>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="school != null">school = #{school},</if>
            <if test="phone != null">phone = #{phone},</if>
        </set>
        <where>
            teacher_name = #{teacherName}
        </where>
    </update>
    
    <!--新增家长-->
    <insert id="InsertParent" useGeneratedKeys="true" keyProperty="parentId">
        insert into t_parents(
            parent_id, user_id, parent_name, parent_phone
        ) VALUES(
            #{parentId},#{userId},#{parentName},#{parentPhone}
               )
    </insert>

    <!--根据家长姓名删除家长-->
    <delete id="DeleteParentByName" parameterType="java.lang.String">
        delete from t_parents
        where parent_name = #{name}
    </delete>

    <!--修改家长信息-->
    <update id="ModifyParent">
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="parentName != null">parent_name = #{parentName},</if>
            <if test="parentPhone != null">parent_phone = #{parentPhone},</if>
        </set>
        <where>
            parent_name = #{parentName}
        </where>
    </update>

</mapper>