<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.science.mapper.AdminMapper">

    <!--新增学生-->
    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="studentId">
        insert into t_students(
            student_id, user_id, student_name, school, grade, classes, credit
        )
        VALUES (
                #{studentId},#{userId},#{studentName},#{school},#{grade},#{classes},#{credit}
               )
    </insert>

    <!--根据学生id删除学生信息-->
    <delete id="deleteStudentByUserId" parameterType="java.lang.Integer">
        delete from t_students
        where user_id = #{id}
    </delete>
    
    <!--修改学生信息-->
    <update id="modifyStudent">
        update t_students
        <set>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="school != null">school = #{school},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="classes != null">classes = #{classes},</if>
            <if test="credit != null">credit = #{credit},</if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>
    
    <!--查找教师-->
    <select id="findTeacherById" resultType="java.lang.Integer">
        select * from t_teachers where user_id = #{userId}
    </select>
    
    
    <!--新增老师-->
    <insert id="insertTeacher" useGeneratedKeys="true" keyProperty="teacherId">
        insert into t_teachers(
            teacher_id, user_id, teacher_name, school, phone
        )VALUES (
                 #{teacherId},#{userId},#{teacherName},#{school},#{phone}
        )
    </insert>

    <!--根据老师姓名删除老师-->
    <delete id="deleteTeacherByUserId" parameterType="java.lang.Integer">
        delete from t_teachers
        where user_id = #{id}
    </delete>
    
    <!--修改老师信息-->
    <update id="modifyTeacher">
        update t_teachers
        <set>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="school != null">school = #{school},</if>
            <if test="phone != null">phone = #{phone},</if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <!--根据id查找家长-->
    <select id="findParentById" resultType="java.lang.Integer">
        select * from t_parents where user_id = #{userId}
    </select>

    <!--新增家长-->
    <insert id="insertParent" useGeneratedKeys="true" keyProperty="parentId">
        insert into t_parents(
            parent_id, user_id, parent_name, parent_phone
        ) VALUES(
            #{parentId},#{userId},#{parentName},#{parentPhone}
               )
    </insert>

    <!--根据家长id删除家长-->
    <delete id="deleteParentByUserId" parameterType="java.lang.Integer">
        delete from t_parents
        where user_id = #{id}
    </delete>

    <!--修改家长信息-->
    <update id="modifyParent">
        update t_parents
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="parentName != null">parent_name = #{parentName},</if>
            <if test="parentPhone != null">parent_phone = #{parentPhone},</if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

</mapper>