<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性用于指定当前映射文件与哪个文件进行映射，因此需要标注接口的完整路径
    即“com.cy.store.mapper.UserMapper”-->
<mapper namespace="com.science.mapper.StudentMapper">
    <resultMap id="StudentEntityMap" type="com.science.entity.Student">
        <id column="student_id" property="studentId"></id>
        <result column="user_id" property="userId"></result>
        <result column="student_name" property="studentName"></result>
    </resultMap>
    <select id="findByUserId" resultType="java.lang.Integer">
            SELECT * FROM t_students WHERE user_id=#{userId}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="studentId">
          INSERT INTO t_students(
                                 student_id,user_id,student_name,school,grade,classes,credit
          )VALUES (
                   #{studentId},#{userId},#{studentName},#{school},#{grade},#{classes},#{credit}
                            )
    </insert>
</mapper>