<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性用于指定当前映射文件与哪个文件进行映射，因此需要标注接口的完整路径
    即“com.cy.store.mapper.Teacher”-->
<mapper namespace="com.science.mapper.TeacherMapper">
    <resultMap id="SchoolClassInfoMap" type="com.science.entity.SchoolClassInfo">
        <result column="school" property="school"></result>
        <result column="grade" property="grade"></result>
        <result column="classes" property="classes"></result>
    </resultMap>
    <select id="findTeacherByUserId" resultType="com.science.entity.Teacher">
        SELECT * FROM t_teachers WHERE user_id=#{userId}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="teacherId">
        INSERT INTO t_teachers(
            teacher_id,user_id,teacher_name,school,phone
        )VALUES (
                 #{teacherId},#{userId},#{teacherName},#{school},#{phone}
                        )
    </insert>
    <insert id="addClassesForTeacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_teacher_class(
            id,teacher_id,teacher_name,school,grade,classes,subject
        )VALUES (
                 #{id},#{teacherId},#{teacherName},#{school},#{grade},#{classes},#{subject}
                        )
    </insert>
    <select id="getClassInfoByTeacherId" resultMap="SchoolClassInfoMap">
        SELECT school,grade,classes FROM t_teacher_class WHERE teacher_id=#{teacherId}
    </select>
    <select id="getStudentInfoByClass" resultType="com.science.entity.Student">
        SELECT * FROM t_students WHERE school=#{school} AND grade=#{grade} AND classes=#{classes}
    </select>


    <select id="findInteractionById" parameterType="int" resultType="com.science.entity.ClassInteraction">
        select * from t_class_interaction where id = #{id}
    </select>
    
    <insert id="insertInteraction" useGeneratedKeys="true" keyProperty="id">
        insert into t_class_interaction(
                  id, name, create_time, create_user, title, content, url
        ) VALUES (
                  #{id},#{name},#{createTime},#{createUser},#{title},#{content},#{url}
                         )
    </insert>
    
    <delete id="deleteInteractionById" parameterType="java.lang.Integer">
        delete from t_class_interaction
        where id = #{id}
    </delete>

    <update id="modifyInteraction">
        update t_class_interaction
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="name != null">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="url != null">url = #{url},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>