<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性用于指定当前映射文件与哪个文件进行映射，因此需要标注接口的完整路径
    即“com.cy.store.mapper.Teacher”-->
<mapper namespace="com.science.mapper.VideoMapper">
    <insert id="insertVideo" useGeneratedKeys="true" keyProperty="videoId">
        insert into t_course_video(
            video_id, video_name, status, create_time, create_user, cover_url, video_url, introduction
        ) VALUES (
            #{videoId},#{videoName},#{status},#{createTime},#{createUser},#{coverUrl},#{videoUrl},#{introduction}
                          )
    </insert>
    <delete id="deleteVideoById" parameterType="java.lang.Integer">
        delete from t_course_video
        where video_id = #{id}
    </delete>
</mapper>